.checklist-item {
  border-radius: 8px;
}

.checklist-item.unfocused {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.checklist-item.unfocused:hover {
  background-color: rgba(243, 243, 243, 1);
  cursor: pointer;
}

.checklist-item.focused {
  background-color: rgba(243, 243, 243, 1);
}

.checkmark {
  width: 20px;
}

.icon {
  width: 16px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
}

.icon-grid {
  display: grid;
  grid-template-columns: 24px 1fr;
}

.centered {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
